name: kyverno-policy-test
on:
  - pull_request
  - workflow_dispatch
env:
  VERSION: v1.10.0
jobs:
  test:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Download Kyverno CLI
        run: |
          curl -sLO https://github.com/kyverno/kyverno/releases/download/${{ env.VERSION }}/kyverno-cli_${{ env.VERSION }}_linux_x86_64.tar.gz
          ls -la
          tar -xf kyverno-cli_${{ env.VERSION }}_linux_x86_64.tar.gz
          ./kyverno version          
      - name: Test new resources against existing policies
        run: ./kyverno apply policies/ -r resources/bucket.yaml
      - name: Test pre-defined cases
        run: ./kyverno test tests/
